{% extends "base_menu.html" %}
{% load humanize %}
{% block content %}

{% load blog_extras crispy_forms_tags %}
{% load static %}
<h5>Создать брак</h5>
<p>
  <form action="{% url 'spoiled:create_spoiled' shop %}" method="get">
    <input name="barcode" type="text" placeholder="Введите штрихкод" >
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'spoiled:all' shop %}';return false;">
  </form>
</p>
{{user}}

<a href="?create_file_spoiled=1">Загрузить файл</a>
<table class="table table-hover">
   <tr>
       <th>Номенклатура</th>
       <th>Количество</th>
       <th>Комментарий</th>
       <th>Последствия</th>
       <th>Вид</th>
       <th>Дата</th>
       <th>Оставить коммент</th>
       <th>Комментарий</th>>
       <th>edit</th>

   </tr>
      {% if spoiled_list %}
      {% for spoiled in spoiled_list %}
    <tr>
        <td><a href="{% url 'spoiled:spoiled_detail'  spoiled.id %}">{{spoiled.nomenclature}}</a></td>
        <td>{{spoiled.quantity|center:15}}</td>
        <td>{{spoiled.description_comment}}</td>
        <td>{{spoiled.get_future_spoiled_display}}</td>
        <td>{{spoiled.get_sub_description_display}}</td>
        <td>{{ spoiled.updated_at|date:"d M Y"}}</td>
        <td>
            <form action="" method="post">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="hidden"  name="spoiled" type="text" value={{spoiled.pk}} >
            <p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </p>
        </form>
        </td>
        <td>
            {% for comment in spoiled.comments.all %}
                {{comment}}
            {% endfor %}
        </td>
        <td>
            {% owner_check_edit spoiled.owner request.user spoiled.id%}
            {% if spoiled.owner == user %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    {% endif %}
</table>


{% endblock %}

