{% extends "base_bootstrap.html" %}
{% block navbar %}
{% load app_tags %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">DUTY FREE</a>
     <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'spoiled:all' 8 %}">Апсны</a>
        </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'spoiled:all' 7 %}">Флагман</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img style="width: 25px;" src="{{ user|gravatar:60 }}"><b class="caret"></b>
            </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'logout' %}?next={% url 'home:home' %}">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li>
        <a href="{% url 'login' %}?next={% url 'home:home' %}">Login</a>
        </li>
        {% endif %}
    </ul>
     </div>

  </div>
</nav>
{% endblock %}